h1 {
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.textBox {
  margin: 5%;
  width: 40%;
  height: 200px;
  padding: 2px 5px;
  border: 2px solid black;

}